body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: #000000;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

hr {
  border: 2px solid #ccc;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title,
#converterTemp h1 {
  color: #ffffff;
  margin: 0 0 5px;
}

/* prettier-ignore */
.page-subtitle, #mediaNotas {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#converterTemp {
  padding-top: 15px;
}

#converterTemp p {
  color: #fff;
  font-size: 18px;
}

#converterTemp button {
  font-size: 20;
  padding: 10px;
  width: 200;
  border: 4px #bbbbbb solid;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 20px;
}

#converterTemp button:hover {
  background-color: aquamarine;
}

#converterTemp input {
  text-align: center;
  margin-top: 15px;
  font-size: 20;
  padding: 10px;
  width: 200;
  border: 4px #bbbbbb solid;
  cursor: pointer;
  border-radius: 20px;
}
